.breadcrumbs {
    margin: 20px 0;
    width: 100%;
}

.breadcrumbs__nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
}

.breadcrumbs__nav-item {
    position: relative;
    margin-right: 8px;
    padding-right: 8px;
}

.breadcrumbs__nav-item::after {
    content: '/';
    position: absolute;
    right: -3px;
    color: #d6d6d6;
}

.breadcrumbs__nav-item:last-child::after {
    content: none;
}

.breadcrumbs__nav-item a,
.breadcrumbs__nav-item span {
    text-decoration: none;
    font-size: 14px;
}

.breadcrumbs__nav-item a {
    display: inline-block;
    color: #006792;
}

.breadcrumbs__nav-item a:hover {
    color: #50c5e8;
}

.breadcrumbs__nav-item span {
    color: #333;
    display: inline-block;
}

.breadcrumbs__nav-item a:first-letter,
.breadcrumbs__nav-item span:first-letter {
    text-transform: uppercase;
}