.form-item {
    margin-bottom: 20px;
}

.form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: auto;
}

.form__container-footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 3;
}